/* ampliar campo de ciudad */
.o_form_view.o_form_editable .o_address_format input.o_address_city {
  width: 50%;
}

/* ampliar campo de estado */
.o_form_view.o_form_editable .o_address_format div.o_address_state {
  width: 45%;
}

/* ampliar campo de codigo postal */
.o_form_view.o_form_editable .o_address_format input.o_address_zip {
  width: 50%;
}

/* agregar espacio entre codigo postal y codigo de colonia */
.o_form_view .o_address_format .o_address_zip {
  margin-right: 2%;
}

/* ampliar campo de codigo postal */
.o_form_view.o_form_editable .o_address_format input.o_address_zip_extra {
  width: 45%;
}

/* agregar separador si existe codigo postal de colonia */
.o_address_zip_extra:not(:empty) {
  margin-left: -2px;
}
.o_address_zip_extra:not(:empty)::before {
  content: '– ';
  margin-right: -3px;
}

.o_form_view .oe_title > .o_legal_name {
  width: 100%;
  word-wrap: break-word;
}

.o_address_zip_container {
  display: block;
}
